<template>
    <section class="register-section">
        <h2>Register Employees</h2>
        <h3 class="alert alert--danger" v-if="registerMessage.type === 'VALIDATE'">{{ registerMessage.message.message }}</h3>
        <Form @onSubmit="onSubmitRegister" :isLoading="isLoading"/>
    </section>
</template>

<script lang="ts">
import Vue from 'vue'
import Form from './Form.vue'
import { Employee } from '@/models/employees'

export default Vue.extend({
  components:{
    Form
  },
  computed:{
    registerMessage(){
        return this.$store.state.registerMessage
    }
  },
  data(){
    return{
      isLoading:false,
    }
  },
  methods:{
    async onSubmitRegister(employee:Employee){
        this.isLoading = true
        console.log(employee);
          await this.$store.dispatch('employeeRegister',employee)
          await this.$store.dispatch('getEmployees')
        this.isLoading = false

    }
  }
})
</script>
<style scoped>
  .register-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
    margin-right: 1rem;
    align-items: center;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 6px rgba(0,0,0,.05);

  }
</style>
