<template>
  <form @submit.prevent="register">
            <InputControl :pattern="'[A-Z]{1,20}'" :required="true" :id="'firstLastName'" v-model.lazy="employeeData.firstLastName" @input="onChangeInput"  :inputName="'firstLastName'" :label="'First Last Name'" />
            <InputControl :pattern="'[A-Z]{1,20}'" :required="true" :id="'secondLastName'" v-model.lazy="employeeData.secondLastName" @input="onChangeInput" :inputName="'secondLastName'" :label="'Second Last Name'" />
            <InputControl :pattern="'[A-Z]{1,20}'" :id="'firstName'"  :required="true" v-model.lazy="employeeData.firstName" @input="onChangeInput" :inputName="'firstName'" :label="'First Name'" />
            <InputControl :id="'others'" :pattern="'([^\s][A-Z\s]+){1,50}'" v-model="employeeData.others" :inputName="'others'" :label="'Others'" />
            <div class="input-select-control">
              <label>Country</label>
            <select  name="country" v-model="employeeData.country" @change="onChangeInput">
              <option value="co">Colombia</option>
              <option value="us">Estados Unidos</option>
            </select>

            </div>
            <div class="input-select-control">
              <label>Identification Type</label>
            <select name="idType" v-model="employeeData.idType">
              <option value="cc">Cédula de Ciudadanía</option>
              <option value="ccex">Cédula de Extranjería</option>
              <option value="passport">Pasaporte</option>
              <option value="especial">Permiso Especial</option>
            </select>

            </div>
            <InputControl :id="'idNumber'" :pattern="'[A-zA-Z0-9]{1,20}'" v-model="employeeData.idNumber" :inputName="'idNumber'" :label="'Identification Number'" />
            <InputControl  :id="'email'"  v-model="employeeData.email"  :inputName="'email'" readonly :label="'Email'" :inputType="'email'" />
            <InputControl :id="'registrationDate'"  v-model="employeeData.registrationDate" :inputName="'registrationDate'" :label="'Register Date'" :inputType="'date'" />

             <div class="input-select-control">
              <label> Area</label>
            <select name="area" v-model="employeeData.area">
              <option value="admin">Administración</option>
              <option value="finance">Financiera</option>
              <option value="shopping">Compras</option>
              <option value="infrastructure">Infraestructura</option>
            </select>

            </div>
            <button class="btn btn--primary" type="submit">{{ isLoading ? typeForm === 'edit' ? 'Editing' :  'Registering...' : typeForm === 'edit' ? 'Edit': 'Register' }}</button>

        </form>
</template>
<script lang="ts">
import Vue from 'vue'
import InputControl from '../InputComponent/Input.vue'
import { Employee } from '@/models/employees'
import { idGenerator } from '@/utils/idGenerator'
export default Vue.extend({
  components:{
    InputControl
  },
  props:{
     isLoading:{
       type:Boolean,
       default:false
     },
     typeForm:{
       type:String,
       default:'register'
     }
  },
  computed:{
    employee():Employee{
      return this.$store.state.employee
    },
   isEditingEmployee():boolean{
      return this.$store.state.isEditingEmployee
    },

    registerMessage(){
        return this.$store.state.registerMessage
    }
  },
  data(){
    return{
      employeeData:{
       firstName:'',
        firstLastName:'',
        secondLastName:'',
        others:'',
        country:'',
        idType:'',
        idNumber:'',
        area:'',
        registrationDate:'',
        email:''
     },
    }
  },

  methods:{
     async onChangeInput(){


       const employee:any = this.employeeData
        if(employee.firstLastName != '' && this.employeeData.firstName != '' && this.employeeData.country != ''){
        const email = `${employee.firstName.toLowerCase().replace(/\s/g, '')}${employee.firstLastName.toLowerCase().replace(/\s/g, '')}@cidenet.com.${employee.country}`
        await this.$store.dispatch('getEmployeeByEmail',{email:email})
        this.employeeData.email =  `${employee.firstName.toLowerCase().replace(/\s/g, '')}${employee.firstLastName.toLowerCase().replace(/\s/g, '')}${this.$store.state.registerMessage.type === 'EMAIL' ? `.${idGenerator()}` : ''}@cidenet.com.${employee.country}`


      }
    },
    register(e:Event){
       const form:any =  e.target

        const employee = {
        firstName:form.firstName.value,
        firstLastName:form.firstLastName.value,
        secondLastName:form.secondLastName.value,
        others:form.others.value,
        country:form.country.value,
        idType:form.idType.value,
        idNumber:form.idNumber.value,
        email:form.email.value,
        area:form.area.value,
        registrationDate:form.registrationDate.value
        }


      this.typeForm === 'edit'  ? this.$emit('onSubmit',{id:this.employee._id,employee}) : this.$emit('onSubmit',employee)

    }
  },
  mounted(){
    if(this.isEditingEmployee && this.typeForm === 'edit'){

     this.employeeData.firstLastName = this.employee.firstLastName
     this.employeeData.firstName = this.employee.firstName
     this.employeeData.secondLastName = this.employee. secondLastName
     this.employeeData.others = this.employee.others
     this.employeeData.country = this.employee.country
     this.employeeData.idType = this.employee.idType
     this.employeeData.idNumber = this.employee.idNumber
     this.employeeData.email = this.employee.email
     this.employeeData.area = this.employee.area
     this.employeeData.registrationDate = this.employee.registrationDate

    }
  }
})
</script>
<style scoped>
  .input-select-control{
    display: flex;
    flex-direction: column;
  }
  .input-select-control label{
    font-size: 1rem;
    margin-top: .6rem;
    text-align: center;
  }
  .input-select-control select{
     width: 21rem;
    padding: .4rem;
    border-radius: .2rem;
    margin-top: .5rem;
  }
</style>
