<template>
  <main class="container">
      <CreateRegisterEmployees />
      <EmployeesList/>
      <Edit v-if="isEditingEmployee"/>
  </main>
</template>

<script lang="ts">
import Vue from 'vue'
import CreateRegisterEmployees from '@/components/CreateRegisterEmployees/CreateRegister.vue'
import EmployeesList from '@/components/EmployeesList/List.vue'
import Edit from '~/components/EmployeeEdit/Edit.vue'

export default Vue.extend({
  name: 'IndexPage',
  components:{
    CreateRegisterEmployees,
    EmployeesList,
    Edit
  },
  computed:{
    isEditingEmployee():boolean{
      return this.$store.state.isEditingEmployee
    }
  },
  mounted(){
    this.$store.dispatch('getEmployees')
  }
})
</script>
<style >
    body{
      font-family: Arial, Helvetica, sans-serif;
      background-color: rgb(246, 246, 246);
    }

    .container{
      display: flex;

    }

    .box{
      display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
    margin-right: 1rem;
    align-items: center;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 6px rgba(0,0,0,.05);
    }
    .alert{
      width: 100%;
      padding: 1rem;
      text-align: center;
      border-radius: .3rem;
    }
    .alert--danger{
      background-color: rgb(245, 207, 228);
      border:2px solid rgb(244, 156, 204) ;
    }

    .btn{
      width: 100%;
      border: none;
      padding: .9rem;
      margin-top: 2rem;
      cursor: pointer;
      border-radius: .2rem;
      color: white;
    }

    .btn--primary{
      background-color: rgb(19, 119, 250);
    }
</style>
