<template>
    <div class="input-control">
      <label :for="id">{{ label }}</label>
        <input @change="$emit('onChange')"  :required="required" :pattern="pattern" :type="inputType" :readonly="readonly" :id="id" :name="inputName" :value="value" v-on:input="updateValue($event.target.value)" />
    </div>
</template>
<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  props:{
    inputType:{
      type:String,
      default:'text'
    },
    inputName:{
      type:String,
    },
    label:{
      type:String
    },
    id:{
      type:String
    },
    value: {
        type: String
      },

      required: {
        type: Boolean,
        default: false
      },
      pattern:{
        type:String,

      },
      readonly:{
        type:Boolean,
        default:false
      }
  },
  data(){
    return{
      content: this.value
    }
  },
  methods:{
    updateValue: function (value:any) {
        this.$emit('input', value)
      }
  }
})
</script>
<style scoped>
  .input-control{
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .input-control label{
    font-size: 1rem;
    margin-top: .6rem;
  }
  .input-control input{
    width: 20rem;
    padding: .4rem;
    border-radius: .2rem;
    margin-top: .5rem;
  }
</style>
