<template>
  <section class="edit-modal ">
    <div class="edit-modal-container box">
      <Form :typeForm="'edit'" @onSubmit="onSubmitEdit" :isLoading="isLoading" />
      <button class="cancel-button" @click="setEditingEmployee">
        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="2em" width="2em"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z">
          </path>
        </svg>
      </button>
    </div>
  </section>
</template>
<script lang="ts">
  import Vue from 'vue'
  import {
    mapMutations
  } from 'vuex'
  import Form from '@/components/CreateRegisterEmployees/Form.vue'
  import {
    Employee
  } from '@/models/employees'
  export default Vue.extend({
    components: {
      Form
    },
    data() {
      return {
        isLoading: false,
      }
    },

    methods: {
      ...mapMutations({
        setEmployee: 'SET_EMPLOYEE',
        setEditingEmployee: 'SET_IS_EDITING_EMPLOYEE'
      }),
      async onSubmitEdit(id: string, employee: Employee) {
        this.isLoading = true
        this.isLoading = true
        await this.$store.dispatch('editEmployees', {
          id,
          employee
        })
        this.isLoading = false
        await this.setEditingEmployee()
        await this.$store.dispatch('getEmployees')



      }
    },
  })

</script>
<style lang="css" scoped>
  .edit-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 100;
    opacity: 0;
    animation: appear .3s ease both;
  }

  @keyframes appear {
    to{
      opacity: 1;
    }
  }

  .cancel-button {
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }

  .edit-modal-container {
    position: relative;
    padding-bottom: 1rem;
    transform: scale(0);
    animation: scaleTo .3s ease both;
  }
  @keyframes scaleTo {
    to{
      transform: scale(1);
    }
  }

</style>
