<template>
  <section class="list-section">
    <h2>Employees</h2>
    <table class="table" v-if="!isLoadingEmployees">
      <thead class="table-header">
        <tr>
          <th>First Name</th>
          <th>First LastName</th>
          <th>second LastName</th>
          <th>Others</th>
          <th>Counthy</th>
          <th>Id Type</th>
          <th>Id Number</th>
          <th>Email</th>
          <th>Area</th>
          <th>Registhation Date</th>
          <th>State</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody class="table-body">
        <tr v-for="(employee,key) in employees" :key="key">
          <td>{{ employee.firstName }}</td>
          <td>{{ employee.firstLastName }}</td>
          <td>{{ employee.secondLastName }}</td>
          <td>{{ employee.others }}</td>
          <td>{{ getCountry(employee.country)  }}</td>
          <td>{{ employee.idType }}</td>
          <td>{{ employee.idNumber }}</td>
          <td>{{ employee.email }}</td>
          <td>{{ employee.area }}</td>
          <td>{{ employee.registrationDate }}</td>
          <td>
            <span class="user-active"> {{ employee.state && 'active'}}</span>

          </td>
          <td>
            <button class="edit-button" @click="editEmployee(employee)">
              <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em"
                width="1em" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M497.9 142.1l-46.1 46.1c-4.7 4.7-12.3 4.7-17 0l-111-111c-4.7-4.7-4.7-12.3 0-17l46.1-46.1c18.7-18.7 49.1-18.7 67.9 0l60.1 60.1c18.8 18.7 18.8 49.1 0 67.9zM284.2 99.8L21.6 362.4.4 483.9c-2.9 16.4 11.4 30.6 27.8 27.8l121.5-21.3 262.6-262.6c4.7-4.7 4.7-12.3 0-17l-111-111c-4.8-4.7-12.4-4.7-17.1 0zM124.1 339.9c-5.5-5.5-5.5-14.3 0-19.8l154-154c5.5-5.5 14.3-5.5 19.8 0s5.5 14.3 0 19.8l-154 154c-5.5 5.5-14.3 5.5-19.8 0zM88 424h48v36.3l-64.5 11.3-31.1-31.1L51.7 376H88v48z">
                </path>
              </svg>
              Edit
            </button>
          </td>

        </tr>
      </tbody>
    </table>
    <h3 v-if="isLoadingEmployees">laoding...</h3>
  </section>
</template>
<script lang="ts">
  import Vue from 'vue'
  import {
    mapMutations
  } from 'vuex'
  import {
    Employee,
    Countries
  } from '@/models/employees'
  export default Vue.extend({
    computed: {
      isLoadingEmployees(): boolean {
        return this.$store.state.isLoadingEmployees
      },
      employees(): Employee[] {
        return this.$store.state.employees
      },

    },
    methods: {
      ...mapMutations({
        setEmployee: 'SET_EMPLOYEE',
        setEditingEmployee: 'SET_IS_EDITING_EMPLOYEE'
      }),
      editEmployee(employee: Employee) {
        this.setEditingEmployee()
        this.setEmployee(employee)
      },
      getCountry(country: Countries) {
        switch (country) {
          case 'co':
            return 'Colombia'
          case 'us':
            return 'Estados Unidos'
          default:
            return 'Colombia'
        }
      }


    }
  })

</script>
<style scoped>
  .list-section {

    padding: 0 1rem;
    margin-right: 1rem;
    align-items: center;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 6px rgba(0, 0, 0, .05);
  }

  .table {
    display: block;
    overflow-x: scroll;
    width: 60rem;
  }

  .table-header {
    background-color: rgb(242, 242, 242);
  }

  .table-header th {
    padding: 1rem;
  }

  .table-body td {
    font-size: .9rem;
    padding: .2rem;
  }

  .user-active {
    background-color: rgb(160, 246, 174);
    border-radius: .5rem;
    padding: .2rem;
  }

  .edit-button {
    width: 4rem;
    border: none;
    background-color: rgb(246, 219, 84);
    border-radius: .5rem;
    padding: .2rem;
    cursor: pointer;
  }

</style>
